<div class="container">
  <h3 class="sub-heading mgy-1">Purchase</h3>
  <div class="mgy-1">
    <form [formGroup]="purchaseForm">
      <div *ngIf="!supplierAvailable">
        <div class="form-controls mgy-1" [formGroup]="addSupplierForm">
          <div class="flexed mgy-1">
            <div class="form-controls">
              <label>Supplier Name</label>
              <div class="form-input">
                <input type="text" id="supplierName" formControlName="name" placeholder="EABL Wines">
              </div>
            </div>
            <div class="form-controls mgl-1">
              <label>Telephone</label>
              <div class="form-input">
                <input type="tel" id="supplierTelephone" formControlName="telephone" placeholder="+254 712345">
              </div>
            </div>
          </div>
          <div class="flexed mgy-1">
            <div class="form-controls">
              <label>Email Address</label>
              <div class="form-input">
                <input type="email" id="supplierEmail" formControlName="email" placeholder="sales@beannsofts.com">
              </div>
            </div>
          </div>
          <div class="proceed-button mgy-2">
            <button class="button button-text" [disabled]="purchaseForm.get('supplierName').invalid" *ngIf="!supplierAvailable" (click)="proceedToAdd()">Continue</button>
          </div>
        </div>
      </div>
      <div class="form-controls" *ngIf="supplierAvailable">
        <input type="text" list="suppliers-list" placeholder="Select Your Supplier" id="supplier" formControlName="supplier" (change)="supplierSearch($event.target.value)">
        <datalist id="suppliers-list">
          <option value="{{supplier.name}}" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
        </datalist>
      </div>
      <div class="mgy-2"></div>
      <div class="form-controls" *ngIf="supplierSelected">
        <input type="text" list="products" placeholder="Enter product code" id="code" (change)="selectProduct($event.target)">
        <datalist id="products">
          <option value="{{product.name}}" *ngFor="let product of availableProducts"></option>
        </datalist>
      </div>
    </form>
  </div>
  <div class="">
    <div class="sale-items-container">
      <div class="card-list mgy-2">
        <div class="card-list-item table-header">
          <div class="bold">Product Name</div>
          <div class="bold">Price</div>
          <div class="bold">No.Items</div>
          <div class="bold">Total Price</div>
        </div>
      </div>
      <div class="table-data" style="height: 230px;max-height: 230px">
        <div class="card-list-item table-header padded-list-item" *ngFor="let purchaseItem of purchaseItems;let index">
          <div class="item">{{purchaseItem.name}}</div>
          <div class="item">{{purchaseItem.price}}</div>
          <div class="item" contenteditable="true">
            <input (input)="changeQuantity(purchaseItem.serialNumber,$event.target.value)" [class.hidden]="!changingQuantity" class="sm-input shorter" name="changeQty">
            <span [class.hidden]="changingQuantity">{{purchaseItem.quantity}}</span>
          </div>
          <div class="item">{{getPurchaseItemTotal(purchaseItem.serialNumber)}}</div>
          <div class="item remove last" (click)="removeItemByIndex(index)">
            <img src="assets/minus.svg" width="16" alt="">
          </div>
        </div>
      </div>
      <div class="mgy-2">
        <div class="flexed flexed-column mgy-1">
          <button class="button button-tertiary" (click)="finalizePurchase()" [class.disabled]="purchaseForm.invalid" >Finalize</button>
        </div>
      </div>
    </div>
  </div>
</div>
