.purchases-list
  height: 75vh
  overflow: auto
  position: fixed
  .purchase-record, .purchase-record-header
    display: grid
    grid-template-columns: 30px 70px 100px 70px 100px auto auto
    gap: 2em

input
  padding: .5em .7em

.card-list-item
  grid-template-columns: 30px 70px 100px 70px 100px auto auto
