<div class="body-container">
    <h3 class="main-heading">Financial Reports</h3>
    <div class="finance-reports mgy-2">
        <h5>Account Balances</h5>
        <div class="accounts grid mgy-1">
            <div class="grid-item card card-color actionable card-color-pri" (click)="toggleAccount('CASH')">
                <h5>Cash Payments</h5>
                <div class="desc mgy-1">
                  <h2>Ksh. {{cashSales.toLocaleString()}}</h2>
                </div>
            </div>
            <div class="grid-item card card-color actionable card-color-sec" (click)="toggleAccount('MOBILE')">
                <h5>Mobile Money</h5>
                <div class="desc mgy-1">
                  <h2>Ksh. {{mobileSales.toLocaleString()}}</h2>
                  <p class="small mgy-1">Working Balance: {{mpesaBalance}}</p>
                </div>
            </div>
            <div class="grid-item card card-color actionable card-color-main"(click)="toggleAccount('INVOICE')">
                <h5>Invoices</h5>
                <div class="desc mgy-1">
                  <h2>Ksh. {{invoices.toLocaleString()}}</h2>
                </div>
            </div>
        </div>
    </div>
    <h4 class="sales-summaries mgy-2">Sales Records</h4>
    <app-sales-summaries [saleRecords]="transactionSales"></app-sales-summaries>
</div>
