<div class="body-containerk">
  <h4 class="sub-heading">Add Opening stock to Umoja</h4>
  <div class="stock-add-form mgy-1">
    <form (submit)="updateStock()" [formGroup]="addStockForm" class="form">
      <div class="stock-inline-form">
        <div class="form-input">
          <label for="name">Product Name</label>
          <input id="name" type="text" formControlName="name" list="products" (change)="checkPrice($event.target.value)" placeholder="Enter Product Name">
          <datalist id="products">
            <option *ngFor="let prod of availableProducts" value="{{prod.name}}"></option>
          </datalist>
        </div>
        <div class="form-input mgl-1">
          <label for="price">Unit Price</label>
          <input type="text" id="price" value="{{productPrice}}" formControlName="unitPrice" class="shorter" placeholder="140">
        </div>
        <div class="form-input mgl-1">
          <label for="qty">Quantity</label>
          <input type="number" min="1" id="qty" class="shorter" formControlName="availableUnits" placeholder="20">
        </div>
        <div class="mgl-1 cent-btn">
          <label></label>
          <button type="submit" [class.disabled]="addStockForm.invalid" class="btn button-text text-success">Add Item</button>
        </div>
      </div>
    </form>
  </div>

  <div class="stock-list" style="margin-bottom: 1em;border-bottom: 1px solid #d7d7d7">
    <table class="app-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
        </tr>
      </thead>
    </table>
    <div class="table-data" style="max-height: 50vh">
       <div class="table-data-item flexed" *ngFor="let prod of stockProducts">
          <div class="item">{{prod.name}}</div>
          <div class="item">{{prod.unitPrice}}</div>
          <div class="item">{{prod.availableUnits}}</div>
          <div class="item">Ksh. {{(prod.unitPrice * prod.availableUnits).toLocaleString()}}</div>
        </div>
    </div>
  </div>

  <div class="dialog-footer flexed flexed-justify-between mgy-2">
    <button class="btn button-primary" [class.disabled]="stockProducts.length < 1" (click)="saveStockData()">
      <div class="flexed">
        <span>Finish</span>
        <span><img src="assets/accept.svg" width="14" alt=""></span>
      </div>
    </button>
    <button class="btn button-text" mat-dialog-close="true">
      <div class="flexed">
        <span>Cancel</span>
      </div>
    </button>
  </div>

</div>
