<div class="app-container" style="padding: 0;">
    <app-search-print-filter></app-search-print-filter>
    <div class="card-list">
        <div class="card-list-item table-header">
          <div class="bold">Rank</div>
          <div class="bold">Product</div>
          <div class="bold">Sale Amount</div>
          <div class="bold">Sales</div>
          <div class="bold">Total Sales</div>
        </div>
    </div>
    <div *ngIf="productSales.length > 0;else noitems" class="card-list">
        <div class="card-list-item data-set" *ngFor="let products of productSales; let index = index">
          <div><span class="">{{products.date}}</span></div>
          <div>{{products.shop.name}}</div>
          <div><span class="">{{products.receiptNumber}}</span></div>
          <div><span>Ksh. {{products.saleAmount.toLocaleString()}}</span></div>
          <div><span class="">Ksh. {{products.balance.toLocaleString()}}</span></div>
        </div>
    </div>
    <div class="card-list">
        <ng-template #noitems>
            <div class="grid grid-center" style="text-align: center;padding: 2em 0">
              <div class="content placeholder-text">
                <h5 class="opaque">Its empty here</h5>
                <p class="opaque mgy-1" style="font-size: 80%">OOps, It seems that no sales have been made yet.</p>
              </div>
            </div>
        </ng-template>
    </div>
</div>