<div class="app-container">
    <main>
        <div class="stock-details">
            <h3 class="main-heading">Stock Management / {{shop.name}}</h3>
                <!-- Items in stock -->
            <div class="action-buttons" style="margin: 3em 0;">
                <div class="flexed">
                    <button class="button button-text mgy-1" (click)="navigateBack()">
                        <span>
                            <img src="assets/back-arrow.svg" width="13" alt="" style="filter: invert(0)">
                        </span>
                        <span>Back</span>
                    </button>
                    <button class="button-primary" (click)="launchAddModal()">
                        <span>Add New Product</span>
                        <span><img src="assets/open.svg" width="15" alt=""></span>
                    </button>
                    <button class="button button-pri-alt" (click)="receiveProducts()">
                        <span class="button-badge important">{{unreceivedPurchaseOrders.length}}</span>
                        <span>Receive Products</span>
                        <span><img src="assets/inbox.svg" width="15" alt="" style="filter: invert(100%);margin-left: 5px;"></span>
                        <div class="notification-box" *ngIf="showNotification">
                            <h4>Incoming Purchase Orders</h4>
                            <div class="notifications">
                                <ul *ngFor="let order of unreceivedPurchaseOrders">
                                    <li>
                                        <div class="purchase-order">
                                            <h5>Purchase Order Number: #{{order.id}}</h5>
                                            <p>Items: {{order.products.length}}</p>
                                            <button class="button-text" (click)="confirmReceived(order.id)" [disabled]="receiveLoading">
                                              <span *ngIf="!receiveLoading;else loading">Receive</span>
                                              <ng-template #loading>Please Wait...</ng-template>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </button>
                    <button class="button button-sec-alt" (click)="showNotes()">
                        <span *ngIf="!showReceivedNotes;else showStock">Received Products</span>
                        <ng-template #showStock>Show Stock</ng-template>
                        <span><img width="15" alt=""></span>
                    </button>
                </div>
            </div>

          <div class="purchases-list" *ngIf="showReceivedNotes">
            <div class="card-list">
              <div class="card-list-item received table-header">
                <div class="bold">#</div>
                <div class="bold">Date</div>
                <div class="bold">Supplier</div>
                <div class="bold">Items</div>
                <div class="bold">Order Total</div>
                <div class="bold">Delivered</div>
                <div>Actions</div>
              </div>
            </div>

            <div *ngIf="purchases">
              <div *ngIf="purchases.length > 0;else noitems" class="card-list">
                <div class="card-list-item received data-set" *ngFor="let purchase of purchases; let index = index">
                  <div><span class="">{{purchase.id}}</span></div>
                  <div><span class="">{{purchase.generatedAt}}</span></div>
                  <div><span class="">{{purchase.supplier.name}}</span></div>
                  <div>
                    <span>{{purchase.products.length}}</span>
                  </div>
                  <div><span class="">{{purchase.orderTotal}}</span></div>
                  <div>
                    <span>{{purchase.delivered}}</span>
                  </div>
                  <div class="smallest bold" (click)="printReceiveNote(purchase)"><a>Reprint Note</a></div>
                </div>
              </div>
            </div>
            <div class="card-list">
              <ng-template #noitems>
                <div class="grid grid-center" style="text-align: center;padding: 2em 0">
                  <div class="content placeholder-text">
                    <h5 class="opaque">Its empty here</h5>
                    <p class="opaque mgy-1" style="font-size: 80%">OOPs, It seems that no purchases have been made yet.</p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>

            <div class="stock-items-container" *ngIf="!showReceivedNotes">
                <div *ngIf="!simpleShop">
                </div>
                <div class="loading" *ngIf="loading">
                <div class="grid grid-center">
                    <div class="loader" style="text-align: center;margin-top: 2em">
                    <img src="assets/loader.svg" width="50" alt="">
                    <h4 class="opaque">Getting products</h4>
                    </div>
                </div>
                </div>
                <div *ngIf="!loading">
                <div class="table-data" *ngIf="stockProducts.length > 0;else no_products" style="position: relative;">
                    <div class="flexed flexed-end" style="margin: 0rem 0;position:fixed;background:#fff;padding: 2.5em 0;">
                        <div class="search-input">
                            <label for="search-field" style="font-size: 12px">Search</label>
                            <input type="search" name="search-field" class="mgl-1" id="search-field" (input)="filterProducts($event.target.value)">
                        </div>
                        <div class="print-option">
                            <button class="button button-text" (click)="printInventory(true)">
                            <span><img src="assets/download.svg" width="10" alt="" style="filter: invert(0)"></span>
                            Print Report
                            </button>
                        </div>
                        <div class="print-option mgl-2">
                            <button class="button button-text" (click)="printInventory(false)">
                            <span><img src="assets/download.svg" width="10" alt="" style="filter: invert(0)"></span>
                            Products list
                            </button>
                        </div>
                    </div>
                    <div class="card-list mgy-1" *ngIf="stockProducts.length > 0" style="margin: 7em 0 2em;">
                        <div class="card-list-item table-header" style="position: fixed">
                            <div class="bold">Product</div>
                            <div class="bold">Unit Price</div>
                            <div class="bold">Available Units</div>
                            <div></div>
                        </div>
                    </div>
                    <div class="card-list-item data-set" *ngFor="let product of stockProducts; let index = index">
                    <div><span class="small">{{product.name}}</span></div>
                    <div>Ksh. {{product.sellingPrice}}</div>
                    <div><span class="">{{product.quantity}}</span></div>
                        <div class="smallest bold flexed">
                            <div class="move center">
                                <button class="button button-image" (click)="transferProduct(product)"><img src="assets/swap.svg" width="10" alt=""></button>
                                <span class="smallest">Transfer</span>
                            </div>
                            <div class="move center mgl-2">
                                <button class="button button-image" (click)="updateProduct(product)"><img src="assets/add_product.svg" width="10" alt=""></button>
                                <span class="smallest">Update</span>
                            </div>
                            <div class="remove center">
                                <button class="button button-image" (click)="deleteProduct(product.id)"><img src="assets/trash.svg" width="10" alt=""></button>
                                <span class="smallest">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #no_products>
                    <div class="grid grid-column grid-center">
                    <div class="mgy-1 placeholder">
                        <img src="assets/empty.svg" width="45" alt="">
                        <h4 class="opaque">Oops, no products here at the moment</h4>
                        <h5 class="opaque">Do you mind adding a few products to get everything running ?</h5>
                    </div>
                    <button class="button button-text text-info bordered" (click)="launchAddModal()">Insert Products</button>
                    </div>
                </ng-template>
                </div>
            </div>
            </div>
    </main>
</div>
