.body-container
  padding-bottom: 0
  padding-top: 2.75em
  .padded
    margin-top: .8em
    .text
      font-size: 12px
      font-weight: 500
      margin: .7em 0
    .form-input
      input
        width: 350px
    .form-button
      margin: 0 .25em
      button
        span
          img
            margin: 0 .75em
            display: inline-block

  .shop-details-container
    margin-top: 1em
    width: 90%
    div
      margin-bottom: .5em
    .sd-first
      width: 90%
    table
      text-align: left
      th
        font-size: 12px
      td
        padding: .3em 1em
        font-weight: 500

  .action-buttons
    margin-top: 1em
    .flexed
      width: 130%
      button
        width: 40%
        margin-right: 2em
        // border: none
  .stock-items-container
    margin-top: 1.5em


#scroll-table
  max-height: 100px
  overflow: auto

.card-list-item
  grid-template-columns: 220px 100px 100px 100px

.table-data
  height: 360px !important
  max-height: 368px
  .card-list-item
    margin: 7px
    padding: .5em 1.4em
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.05)
    &.table-header
      box-shadow: none
input
  padding: .35em 1em
