<div class="container">
  <h5 class="sub-heading mgy-1">Order Number: #234321</h5>
  <h6 class="sub-heading mgy-1">Serving You: Sean Baraka</h6>
  <div class="mgy-1">
    <form [formGroup]="searchProduct">
      <div class="form-controls">
        <input type="text" list="products" placeholder="Enter product code" id="code" formControlName="serialNumber" (change)="productSearch()">
        <datalist id="products">
          <option value="{{product.name}}" *ngFor="let product of data.stockProducts">{{product.name}}</option>
        </datalist>
      </div>
    </form>
  </div>
  <div class="flexed">
    <div class="sale-items-container">
      <div class="card-list mgy-2">
        <div class="card-list-item table-header">
          <div class="bold">Product</div>
          <div class="bold">Aval. Bal</div>
          <div class="bold">Qty</div>
          <div class="bold">@</div>
          <div class="bold">Total</div>
        </div>
      </div>
      <div class="table-data" style="height: 230px;max-height: 230px">
         <div class="card-list-item table-header padded-list-item" *ngFor="let cartItem of cartProducts;let index">
            <div class="item">{{cartItem.name}}</div>
            <div class="item bold text-danger">{{cartItem.availableBalance}}</div>
            <div class="item" contenteditable="true" (click)="toggleInput()">
              <input (input)="changeQuantity(cartItem.id,$event.target.value)" [class.hidden]="!changingQuantity" class="sm-input shorter" name="changeQty" [value]="cartItem.quantity">
              <span [class.hidden]="changingQuantity">{{cartItem.quantity}}</span>
            </div>
            <div class="item" contenteditable="true">
              <input [class.hidden]="!changingPrice" [value]="data.invoice ? cartItem.minPrice : cartItem.sellingPrice" class="sm-input shorter" (input)="changePrice(cartItem.id, $event.target.value)">
              <span [class.hidden]="changingPrice">{{data.invoice ? cartItem.minPrice : cartItem.sellingPrice}}</span>
            </div>
            <div class="item">{{data.invoice ? cartItem.minPrice * cartItem.quantity : cartItem.sellingPrice * cartItem.quantity}}</div>
            <div class="item remove last" (click)="removeItemByIndex(index)">
              <img src="assets/minus.svg" width="16" alt="">
            </div>
          </div>
      </div>
      <div class="sub-totals">
        <table style="text-align: left">
          <tbody>
            <tr>
              <th class="small">Tax 16% VAT</th>
              <td class="small">:</td>
              <td><h4>Ksh. {{taxTotal.toFixed(2)}}</h4></td>
            </tr>
            <tr>
              <th class="small">Sub Total</th>
              <td class="small">:</td>
              <td><h4>Ksh. {{cartTotal}}</h4></td>
            </tr>
            <tr>
              <th class="small" style="font-size: 15px;">TOTAL</th>
              <td class="small">:</td>
              <td><h4 style="font-size: 32px;">Ksh. {{cartTotal}}</h4></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="payment-options-container">
      <div class="mgy-1">
        <form [formGroup]="completeSale" (submit)="finalizeSale()">
          <div class="form-controls">
            <!-- <div class="form-input-group flexed flexed-column">
              <label for="amount" class="small bold mgy-1">Total Amount</label>
              <input type="text" formControlName="amount" id="amount" value="{{cartTotal}}" readonly>
            </div> -->
            <h1>Paybill Number: 4067985</h1>
            <p class="bold small mgy-1">Acc. No: WEAVERBIRDS</p>
          </div>
        </form>
        <h5 class="mgy-2">Payment Methods</h5>
        <div class="the-payment-methods mgy-1">
          <div class="grid grid-center">
            <div class="grid-item" (click)="cashPayment()">
              <img src="assets/dollar.png" alt="">
              <p class="smallest bold">Cash</p>
            </div>
            <div class="grid-item" (click)="cashPayment()">
              <img src="assets/bank.png" alt="">
              <p class="smallest bold">Cheque</p>
            </div>
            <div class="grid-item" (click)="bankPayment()">
              <img src="assets/credit-card-machine.svg" alt="">
              <p class="smallest bold">PDQ</p>
            </div>
            <div class="grid-item" [class.disabled]="!paymentMethod.mobile" (click)="mobilePayment()">
              <img src="assets/mpesa.png" alt="">
              <p class="smallest bold">Mobile</p>
            </div>
            <div class="grid-item" (click)="splitPayment()">
              <img src="assets/split.png" width="20" alt="">
              <p class="smallest bold">Split Payment</p>
            </div>
            <div class="grid-item" (click)="invoicePayment()">
              <img src="assets/invoice.svg" width="20" alt="">
              <p class="smallest bold">Invoice</p>
            </div>
          </div>
        </div>
        <div class="payment-complete mgy-2">
          <div class="cash-payment" *ngIf="paymentMethod.cash">
            <div class="flexed flexed-column">
              <p class="smallest mgy-1 bold">Received Amount</p>
              <form [formGroup]="cashForm">
                <input type="number" formControlName="cashReceived" (change)="receivePayment()" min="1" class="short">
              </form>
              <div class="mgy-1">
                <p class="small">Balance: <span class="bold">Ksh. {{cashBalance}}</span></p>
              </div>
            </div>
          </div>
          <div class="cash-payment" *ngIf="paymentMethod.split">
            <form [formGroup]="splitOptions">
              <div class="form-controls mgy-1 flexed flexed-column">
                <label for="split-cash" class="smallest bold">Cash</label>
                <input type="number" class="short" formControlName="cash" min="1" id="split-cash">
              </div>
              <div class="form-controls mgy-1 flexed flexed-column">
                <label for="split-cash" class="smallest bold">Mpesa</label>
                <input type="number" formControlName="mpesa" id="split-mpesa">
              </div>
            </form>
          </div>
          <!-- <div class="cash-payment" *ngIf="paymentMethod.mobile && checkingStatus == false; else awaitingTransactionStatus">
            <form [formGroup]="mpesaForm">
              <div class="form-controls mgy-1 flexed flexed-column">
                <label for="tel" class="smallest bold">Amount</label>
                <input type="number" class="short" formControlName="cashReceived" (change)="receivePayment()" min="1" id="mpesa-cash">
              </div>
              <div class="form-controls mgy-1 flexed flexed-column">
                <label for="tel" class="smallest bold">Transaction ID</label>
                <input type="text" formControlName="transactionId" id="mpesa-trans">
              </div>
            </form>
            <div class="flexed flexed-column mgy-1">
              <button class="button button-text button-info bordered" (click)="confirmMobilePayment()" [class.disabled]="mpesaForm.invalid" mat-dialog-close="true">Confirm Payment</button>
            </div>
          </div> -->
          <div class="flexed flexed-column mgy-1" *ngIf="paymentMethod.mobile && checkingStatus == false; else awaitingTransactionStatus">
            <button class="button button-text button-info bordered" (click)="confirmMobilePayment()" >Confirm Payment</button>
          </div>
          <ng-template #awaitingTransactionStatus>
            <div class="flexed flexed-column mgy-1" *ngIf="checkingStatus">
              <p class="smallest bold mgy-1">Checking Transaction ....</p>
            </div>
          </ng-template>
          <div class="cash-payment" *ngIf="paymentMethod.bank">
            <div class="flexed flexed-column">
              <form [formGroup]="bankForm">
                <div class="form-controls mgy-1 flexed flexed-column">
                  <label for="cname" class="smallest bold">Bank Name</label>
                  <input type="text" formControlName="bankName" id="bankname" value="Cooperative Bank" readonly>
                </div>
                <div class="form-controls mgy-1 flexed flexed-column">
                  <label for="tel" class="smallest bold">Amount Received</label>
                  <input type="text" formControlName="bankAmount" id="tel">
                </div>
              </form>
            </div>
          </div>
          <div class="cash-payment" *ngIf="paymentMethod.invoice">
            <div class="flexed flexed-column">
              <form [formGroup]="invoiceForm">
                <div class="form-controls mgy-1 flexed flexed-column">
                  <label for="cname" class="smallest bold">Customer Name</label>
                  <input type="text" formControlName="customerName" id="cname" list="customers" (change)="updateTel($event.target.value)">
                  <datalist id="customers">
                    <option *ngFor="let customer of customers" [value]="customer.name"></option>
                  </datalist>
                </div>
                <div class="form-controls mgy-1 flexed flexed-column">
                  <label for="tel" class="smallest bold">Tel: Number</label>
                  <input type="text" formControlName="customerTel" id="tel">
                </div>
              </form>
            </div>
          </div>
          <div class="mgy-2">
            <div class="flexed flexed-row mgy-1">
              <button class="button button-tertiary" (click)="finalizeSale()" [class.disabled]="cashForm.invalid && invoiceForm.invalid && bankForm.invalid && splitOptions.invalid" mat-dialog-close="true">Finalise Sale</button>
              <button class="button button-tertiary mgl-1" *ngIf="paymentMethod.invoice || paymentMethod.quotation" (click)="generateQuote()" mat-dialog-close="true">Generate Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
